html, body{
  height: 100%;
}
body{
  font-family: 'garamound', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(193 58 231) 0%, rgb(2 25 61) 100%);
  color: #f1f1f1;
}
button{
  background-color: rgb(173, 88, 229);
  color: #f1f1f1;
  height: 50px;
  padding: 0 45px;
  border: 2px solid #f1f1f1;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background-color: rgb(162, 0, 211);
}